body
{
	background-color:  #262626;

	color: white;

	text-align: justify;

}

a
{

	color: #007acc;

	text-decoration: none;

}

a:hover
{
	text-decoration: none;

	color: #751aff;

}

a:active
{
	background-color: #008ae6;

}

*
{
	font-family: Georgia;


}

nav ul

{
	list-style-type: none;

	display: flex; 

	font-size: 160%;
}

h2,h1
{
	font-weight: bold;

	text-decoration: underline;

}

h2
{
	font-size: 160%;
}


#Haut
{
	box-shadow: 100px 15px 100px black;

}

nav li
{
	margin-right: 30%;

	margin-left: 10%;


}



